include "./debug.kdl"
include "./monitorrule.kdl"
include "./named.kdl"
include "./environment.kdl"
include "./input.kdl"
include "./layout.kdl"
include "./binds.kdl"
include "./hotkey-overlay.kdl"
include "./animations.kdl"
include "./window-rules.kdl"
include "./exec.kdl"
