layout {
  gaps 16
  center-focused-column "never"
  preset-column-widths {
    proportion 0.33333
    proportion 0.5
    proportion 0.66667
  }

  // You can change the default width of the new windows.
  default-column-width { proportion 0.5; }
  focus-ring {
    off
    width 4
  }

  // You can also add a border. It's similar to the focus ring, but always visible.
  border {
    off
    width 4
    active-color "#ffc87f"
    inactive-color "#505050"
    urgent-color "#9b0000"
  }

  shadow {
    on
    softness 30
    spread 5
    offset x=0 y=5
    color "#0007"
  }
}

